.app-main{
  .toolbar-flower{
    background-image: url('s_flower_2.jpg');
    background-size: 218px;
    border-bottom: 14px solid #161152;
//    background-repeat: no-repeat;
  }
//  .x-form-date-trigger, .x-form-date-trigger:focus, .x-form-date-trigger:hover, .x-form-date-trigger:active {
//    height: 17px;
//    background-position: 1px -25px!important;
//    background-image: url("resources/jst-jobs-tab-sprite.png")!important;
//  }
}